{% extends 'base-without-nav.html.twig' %}

{% block title %}
	{{ category.Name }}
	- BOOKWORM
{% endblock %}

{% block body %}
	<div class="container-md">
		<h1>Category</h1>

		<table class="table">
			<tbody>
				<tr>
					<th>Name</th>
					<td>{{ category.Name }}</td>
				</tr>
				<tr>
					<th>Description</th>
					<td>{{ category.Description }}</td>
				</tr>
				<tr>
					<th>Product List</th>
					<td>
						<table class="table">
							<tr>
								<td style="color: red; font-weight: bold;">Name</td>
								<td style="color: red; font-weight: bold;">Price</td>
							</tr>
							{% for product in category.products %}
								<tr>
									<td>{{ product.Name }}</td>
									<td>$
										{{ product.Price }}</td>
								</tr>
							{% else %}
								<tr>
									<td colspan="4">No records found</td>
								</tr>
							{% endfor %}
						</table>
					</td>
				</tr>
			</tbody>
		</table>
		<a class="btn btn-dark" href="{{ path('app_category_edit', {'id': category.id}) }}">Edit</a>
		<br>
		{{ include('category/_delete_form.html.twig') }}
		<a class="btn btn-dark" href="{{ path('app_category_index') }}">Back to categoy list</a>
		<br>
	</div>
{% endblock %}
