{% extends 'base.html.twig' %}

{% block title %}Product index
{% endblock %}

{% block body %}
	<div class="container-md">
		<div class="row">
			<div class="col-3">
				<form action={{ path('app_product_index') }} method="get">
					Category:
					<select name="category">
						<option value="1" {{ (selectedCat=="1") ? 'selected' }}>
							Drink</option>
						<option value="2" {{ (selectedCat=="2") ? 'selected' }}>
							Snack</option>
						<option value="3" {{ (selectedCat=="3") ? 'selected' }}>
							Stationary</option>
						<option value="" {{ (selectedCat=="") ? 'selected' }}></option>
					</option>
				</select><br>
				Min Price:
				<input type="number" name="minPrice"><br>
				Max Price:
				<input type="number" name="maxPrice"><br>
				<input type="submit" value="Filter" class="btn btn-primary">
				|
				<a href="{{ path('app_product_index') }}" class="btn btn-primary">Reset</a>
				|
				<a href="{{ path('app_product_new') }}" class="btn btn-primary">Create new</a>
			</form>
		</div>
		<div class="col-9">
			<div class="container">
				<h4>Product Listing</h4>
				<div class="row row-cols-1 row-cols-md-4 g-4">
					{% for product in products %}
						<div class="col">
							<div class="card h-100">
								<img src=" {{ asset('images/product/' ~ product.imgurl) }}" class="card-img-top" alt="Symfony">
								<div class="card-body">
									<h5 class="card-title">{{ product.Name }}</h5>
									<h6 class="card-subtitle">Category:
										{{ product.category.Name }}</h6>
									<p>Price:
										{{ product.price }}</p>
								</div>
								<div class="card-footer">
									<a href="{{ path('app_product_show', {'id': product.id}) }}" class="btn btn-primary">Show</a>
								</div>
							</div>
						</div>
					{% endfor %}
				</div>
			</div>
		</div>
	</div>
	<nav aria-label="...">
		<ul class="pagination">
			<li class="page-item disabled">
				<a class="page-link">Previous</a>
			</li>
			<li class="page-item">
				<a class="page-link" href="#">1</a>
			</li>
			<li class="page-item active" aria-current="page">
				<a class="page-link" href="#">2</a>
			</li>
			<li class="page-item">
				<a class="page-link" href="#">3</a>
			</li>
			<li class="page-item">
				<a class="page-link" href="#">Next</a>
			</li>
		</ul>
	</nav>
</div>{% endblock %}
