{% extends 'base-without-nav.html.twig' %}
{% block title %}
	{{ product.Name }}
	- BOOKWORM
{% endblock %}

{% block body %}
	<div class="container-md">
		<h1>Product</h1>

		<table class="table">
			<tbody>
				<tr>
					<th>Name</th>
					<td>{{ product.Name }}</td>
				</tr>
				<tr>
					<th>Image</th>
					<td>
						<img src=" {{ asset('images/product/' ~ product.imgurl) }}" alt="Symfony" width="50" height="50">
					</td>
				</tr>
				<tr>
					<th>Category</th>
					<td>{{ product.Category.Name }}</td>
				</tr>
				<tr>
					<th>Description</th>
					<td>{{ product.Category.Description }}</td>
				</tr>
				<tr>
					<th>Price</th>
					<td>${{ product.Price }}</td>
				</tr>

			</tbody>
		</table>
		<a class="btn btn-dark" href="{{ path('app_product_edit', {'id': product.id}) }}">Edit</a>
		<br>
		{{ include('product/_delete_form.html.twig') }}
		<a class="btn btn-dark" href="{{ path('app_product_index') }}">Back to list</a>
	</div>
{% endblock %}
